@CHARSET "UTF-8";

html,body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    overflow-x:hidden;
    font-family: sans-serif;
    font-size: 0.90rem;
    overflow-y: hidden;
}

#background {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    background: url("../img/background1024.jpg") no-repeat top left;
    background-attachment: fixed !important;
    background-size: cover !important;
}

#pageHeader {
    height: 3em;
    padding: 0;
    margin: 0;
    background: url("../img/topTitle.jpg") repeat-x;
    background-size: contain;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#bodyWrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
    top: 3em;
}


#mainColumn {
    vertical-align: top;
    width: auto;
    margin-left: 205px;
    max-width: 640px;
}

div.breadcrumbs {
    margin-top: 5px;
}

div.breadcrumbs a,
div.breadcrumbs a:link,
div.breadcrumbs a:hover,
div.breadcrumbs a:visited,
div.breadcrumbs a:active {color: black}

/**** MAP ****/

#map-canvas {
    border: 1px solid #cdcdcd;
    margin-left: 3px;
}

#mapCustomControls {
    padding-top: 7px;
    padding-right: 5px;
    display: none;
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    margin-left: 30px;
}

#closeMap {
    float: right;
    background-color: white;
    border: 1px solid #cdcdcd;
    padding: 1px 5px 1px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    width: 73px;
    height: 16px;
}

#closeMap:hover {
    background-color: #ececec;
}

#filters {
    float: right;
    background-color: white;
    border: 1px solid #cdcdcd;
    padding: 0 0 0 5px;
    margin-right: 0;
    margin-bottom: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}

#filters > div {
    float: right;
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
}


/**** ARTICLE ****/

#article {
    background-color: rgba(255,255,255,0.5);
    margin-left: 4px;
    margin-right: 4px;
    padding: 0 5px 10px 5px;
    overflow-y: auto;
}

#article > h1 {
    margin-top: 2px;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-size: 20px;
    padding-top: 4px
}

#article > div {
    padding-top: 3px;
    padding-bottom: 3px;
}

div.article-even {
    float: right;
    padding: 3px 5px 3px 5px;
    border: 1px solid #eeeeee;
    margin: 0 0 4px 7px;
    -moz-box-shadow:rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0 1px 4px 0px;
    box-shadow:rgba(0, 0, 0, 0.2) 0 1px 4px 0;
}

div.article-odd {
    float: left;
    padding: 3px 5px 3px 5px;
    border: 1px solid #eeeeee;
    margin: 0 10px 4px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.2) 0 1px 4px 0px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0 1px 4px 0;
    box-shadow:rgba(0, 0, 0, 0.2) 0 1px 4px 0;
}

div.img-desc {
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: #8a8a8a;
    font-style: italic;
}

a.external {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=) center right no-repeat;
    padding-right: 13px;
}

#map {
    background: #00ffff;
}
